body{
  margin-right: 25px;
  margin-left: 25px;
}

.header{
  background: linear-gradient(to right, #5976c7 0%, #200669 100%);
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

#forcast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 150px;
  margin-top: 5px;
}

.card {
  margin-right: 20px;
}

.prompt, .displaycity {
  font-weight: bold;
}

.fiveday{
  margin-left: 280px;
  margin-top: 50px;
}

.displaycity::after {
  content: "" url(./images/Sunny.png);
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.container {
  border: solid black;
  border-radius: 15px;
  margin-left: 25px;
}

.card {
  color: white;
  background-color: rgb(28, 13, 95);
}

.hide {
  display:none;
}
